body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

.slideshowContainer {
    box-sizing: border-box;
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.myPics {
    display: none;
    max-height: 480px;
    max-width: 640px;
}

/* caption text */
.caption {
    color: black;
    background-color: gray;
    font-size: 15px;
    position: relative;
    width: 100%;
    text-align: center;
}

/* slide numbers */
.numberText {
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    float: right;
    border-radius: 40%;
}

/* fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}