body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.resume {
    background-color: wheat;
    margin: 60px 100px 60px 100px;
}

.title-bar {
    color: rgb(122, 133, 145);
    border-bottom: 2px solid black;    
}

.subdued {
    color: rgb(122, 133, 145);
}

.army {
    text-indent: 30px;
    list-style-position: inside;
    display: block;
}